@page
@model MyApp.Namespace.FriendDetails
@{
}

 <!-- Page view-friend-detail -->
      <div class="container px-4 py-4" id="view-friend">
        <h2 class="pb-2 border-bottom">View details of @Model.Friend.FirstName @Model.Friend.LastName</h2>
        <p>Below you find all the details of my friend. You can also modify the pets my friend has and the quotes he/she likes.</p>
  
        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
            <div class="col-md-7 col-lg-8">
              <form class="needs-validation" novalidate>
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" value="@Model.Friend.FirstName" readonly>
                  </div>
      
                  <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" value="@Model.Friend.LastName" readonly>
                  </div>
              
                  <div class="col-sm-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="@Model.Friend.Email" readonly>
                  </div>
                  <div class="col-sm-6">
                    <label for="birthday" class="form-label">Birthday</label>
                    <input type="birthday" class="form-control" id="birthday" value="@Model.Friend.Birthday" readonly>
                  </div>

                  <div class="row g-3 visible">
                    <div class="col-12">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" class="form-control" id="address" value="@Model.Friend.Address.StreetAddress" readonly>
                    </div>
        
                    <div class="col-md-3">
                      <label for="zip" class="form-label">Zip</label>
                      <input type="text" class="form-control" id="zip" value="@Model.Friend.Address.ZipCode" readonly>
                    </div>

                    <div class="col-md-4">
                      <label for="city" class="form-label">City</label>
                      <input type="text" class="form-control" id="city" value="@Model.Friend.Address.City" readonly>
                    </div>
        
                    <div class="col-md-5">
                      <label for="country" class="form-label">Country</label>
                      <input type="text"  class="form-control" id="country" value="@Model.Friend.Address.Country" readonly>
                  </div>
                </div>
                </div>

              <a href="#add-edit-friend" class="w-100 btn btn-primary btn-lg my-4">Edit friend details</a>
              </form>            
            </div>
            
            <div class="col-md-7 col-lg-8">
              <h3 class="pb-2">My friend's pets
                <a  href="#add-edit-pet" class="btn btn-success btn-sm" type="button">Add</a>
              </h3>

              @if (Model.Friend.Pets != null)
              {
                @foreach (var item in Model.Friend.Pets)
                {
                    <div class="row mb-2 text-center">
                        <div class="col-md-10 themed-grid-col">@item.Name the @item.Mood @item.Kind</div>
                        <div class="col-md-2 themed-grid-col">
                            <a href="#add-edit-pet" class="btn btn-secondary btn-sm" type="button">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#hardModal" onclick="setDeleteId('@item.PetId', 'pet', '@Model.Friend.FriendId')" type="button">Delete</a>
                        </div>
                    </div>
                }
              }
            </div>

            <div class="col-md-7 col-lg-8">
              <h3 class="pb-2">My friend's favorite quotes
                <a href="#list-of-quotes" class="btn btn-success btn-sm" type="button">Add</a>
              </h3>

              @if (Model.Friend.Quotes != null)
              {
                @foreach (var item in Model.Friend.Quotes)
                {
                    <div class="row mb-2 text-center">
                        <div class="col-md-10 themed-grid-col">
                            @item.QuoteText
                            <div class="col-md-16 text-end">@item.Author</div>
                        </div>
                        <div class="col-md-2 themed-grid-col">
                            <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#hardModal" onclick="setDeleteId('@item.QuoteId', 'quote', '@Model.Friend.FriendId')" type="button">Delete</a>
                        </div>
                    </div>
                }
              }
            </div>
        </div>
      </div>

      <!-- Modal that DO NOT close if you click outside the modal or hot escape -->
      <form id="deleteForm" method="post" asp-page-handler="Delete">
      <div class="modal fade" id="hardModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="hardModalLabel" aria-hidden="true">
      <input type="hidden" id="deleteId" name="deleteId" value="" />
      <input type="hidden" id="deleteType" name="deleteType" value="" />
      <input type="hidden" id="friendId" name="friendId" value="" />
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="hardModalLabel">Delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button type="button" id="confirmDeleteButton" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>
      </div>
      </form>

<script>
    function setDeleteId(id, type, friendId) {
        document.getElementById('deleteId').value = id;
        document.getElementById('deleteType').value = type;
        document.getElementById('friendId').value = friendId;
    }

    document.getElementById('confirmDeleteButton').addEventListener('click', function() {
        document.getElementById('deleteForm').submit();
    });
</script>