@page
@model AppGoodFriendsRazor.Pages.FriendsByCity
@{    
}

<!-- Page list-of-friends -->
<div class="container px-4 py-4" id="list-of-friends">
    <h2 class="pb-2 border-bottom">List of friends in @Model.SelectedCity</h2>

    <p>These are my friends. You can search by name or address. You can also view or edit all the details. Sad but possible, if you have the right authorization you 
        could also remove a friend from my database. More fun is it to add a friend, which all my friends can do.</p>
    <div class="row mb-1 text-center">
        <div class="col-md-8 ">
            <form class="d-flex mt-3 mt-lg-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    <br>

    @foreach (var friend in Model.Friends)
    {  
        <div class="row mb-1 text-center">
            <div class="col-md-6 themed-grid-col">
                @friend.FirstName @friend.LastName
                <br>
                @friend.Email
            </div>
        
            <div class="col-md-2 themed-grid-col">
                <a href="~/FriendDetails?FriendId=@friend.FriendId" class="btn btn-primary btn-sm" type="button">View</a>
                <!--<a href="#add-edit-friend" class="btn btn-secondary btn-sm" type="button">Edit</a>
                <a href="#modals" class="btn btn-danger btn-sm" type="button">Delete</a>-->
            </div>
        </div>
    }
    
 <nav aria-label="Standard pagination example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="~/FriendsByCity?pagenr=@Model.PrevPageNr&search=@Model.SearchFilter" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    @for (int i = 0; i < Model.NrVisiblePages; i++)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="~/FriendsByCity?pagenr=@i&search=@Model.SearchFilter">@(i + 1)</a>
                                        </li>

                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="~/FriendsByCity?pagenr=@Model.NextPageNr&search=@Model.SearchFilter" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>


        

